<h2>This site will be for</h2>
<ul>
    <li>Tracking my personal progress on Euler500 Project</li>
    <li> Providing answers and solution codes, long as i am not lazy, for a particular problem.</li>
    <li>Easy navigation between problem numbers, and a both angular and js implementation test for me</li>
</ul>
<span id="catch-phrase">And last but not least, thanks lord for object-orientation. </span>
<div class="next-button">
    <a href="#/problems/1">Start Here</a>
   <form ng-submit=""> Go to problem: <input type="text" id="aramaInput" name="aramaInput"/> 
                                      <button type="button" name="aramaBtn" ng-click="arama()">Search</button> 
   </form>
</div>
